@import "./global.css";
body, ul li{
    overflow: hidden;
}
cco-informa{
    position: absolute;
    height: 100%;
    overflow-x: scroll;
    border: 1px solid var(--dark);
    padding: 8px;
}
ul.letters{
    height: 22px;
}
li .id{
    width: calc(var(--_));
    height: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    background: var(--dark);
    opacity: 0.1;
}
li span{position: relative;display: inline-block;width: calc(100% - 12px);height: 100%;}
li button.expand{
    position: absolute;
    background: none;
    top: -1px;
    width: 15px;
    height: 100%;
    z-index: 15;
    border: none;
}
button.expand i{color: var(--dark);}
li div.id ~ button.expand {transform: translateX(-1px);}
i.fa-up-right-and-down-left-from-center{font-size: 10px;rotate: 45deg}
header{
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    z-index: 13;
    background: var(--white);
}
header ul:nth-child(3) li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section{
    position: absolute;
    top: 80px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
}
input, #cco-informa ul li:nth-child(1){padding: 5px}
ul{display: flex;position: relative;}
li{display: inline-block;border: 1px solid var(--dark);margin: 1px;}
/* .letters{height: 35px;} */

/*vazio*/#cco-informa ul li:nth-child(1){width: var(--_);text-align: right;}
/*Data*/#cco-informa ul li:nth-child(2){width: var(--A);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(3){width: var(--B);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(4){width: var(--C);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(5){width: var(--D);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(6){width: var(--E);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(7){width: var(--F);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(8){width: var(--G);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(9){width: var(--H);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(10){width: var(--I);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(11){width: var(--J);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(12){width: var(--K);text-align: center;}



