@import "./global.css";
:root{
    /* --c-_: 30px;
    --c-A: 80px;
    --c-B: 80px;
    --c-C: 55px;
    --c-D: 57px;
    --c-E: 84px;
    --c-F: 47px;
    --c-G: 63px;
    --c-H: 312px;
    --c-I: 215px;
    --c-J: 400px;
    --c-K: 80px; */
    /* --sum: calc(var(--c-_) + var(--c-A) + var(--c-B) + var(--c-C) + var(--c-D) + var(--c-E) + var(--c-F) + var(--c-G) + var(--c-H) + var(--c-I) + var(--c-J) + var(--c-K)); */
}
body{
    overflow: hidden;
}
cco-informa{
    position: absolute;
    height: calc(100% - 20px);
    overflow-x: scroll;
    border: 1px solid var(--dark);
    padding: 8px;
}
li .id{
    width: calc(var(--_) - 2px);
    height: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    background: var(--dark);
    opacity: 0.1;
}
header{
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    z-index: 13;
    background: var(--white);
}
header ul:nth-child(3) li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section{
    position: absolute;
    top: 80px;
    height: calc(100vh - 125px);
    overflow-y: scroll;
    overflow-x: hidden;
}
input, #cco-informa ul li:nth-child(1){padding: 5px}
ul{display: flex;position: relative;}
li{display: inline-block;border: 1px solid var(--dark);margin: 1px;}
/* .letters{height: 35px;} */

/*vazio*/#cco-informa ul li:nth-child(1){width: var(--_);text-align: right;}
/*Data*/#cco-informa ul li:nth-child(2){width: var(--A);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(3){width: var(--B);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(4){width: var(--C);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(5){width: var(--D);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(6){width: var(--E);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(7){width: var(--F);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(8){width: var(--G);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(9){width: var(--H);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(10){width: var(--I);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(11){width: var(--J);text-align: center;}
/*Tabela*/#cco-informa ul li:nth-child(12){width: var(--K);text-align: center;}



