:root{--white: #EDEDED;--dark: #1F1A2A;--cursor: default;--green: #328F32}

.bg-dark{background-color: var(--dark);color: var(--white);}
.bg-white{background-color: var(--white);color: var(--dark);}

*{margin: 0;padding: 0;box-sizing: border-box;cursor: var(--cursor);}
h1,h2,form{display: none;}
body{width: 100vw;height: 100vh;}
header,footer,input,button{width: 100%;}
input,button{background-color: var(--white);color: var(--dark);}
input{border: none;outline: none;}
button:disabled,input:disabled{opacity: .5;pointer-events: none;}
button{border-color: var(--white);outline-color: var(--white);}
.icons button{width: 25px;height: 25px;}
button i{pointer-events: none;font-weight: bold;}
i.fa-pencil{color:#D9610A;}
i.fa-trash,i.fa-xmark,.color-red{color: #FF0000;}
i.fa-check,.color-green{color: var(--green)}

.mw{width: 100%;}.mw{height: 100%;}.mwh{width: 100%;height: 100%;}
.row,.col,.center{display: flex;}
.row{flex-direction: row;}
.col{flex-direction: column;}
.center{justify-content: center;align-items: center;}
.around{justify-content: space-around;}

::-webkit-scrollbar{
    width: 8px;
    display: block;
    height: 10px;}
::-webkit-scrollbar-thumb{
    position: fixed;border-radius: 4px;background-color: var(--dark)}
::-webkit-scrollbar-track{background-color: var(--white)}

#overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;transition: left .5s ease-out .6s;z-index: 99;background-color: var(--white)}