@import "./global.css";

header, footer{height: 50px;padding: 10px 0}
#menu-configurations{
    width: auto;
    max-width: calc(100% - 10px);
    height: auto;
    padding: 0 10px 15px 10px;
    position: absolute;
    top: 10px;
    left: -100%;
    scale: 0;
    background-color: var(--white);
    box-shadow: 0 0 4px 1px var(--dark), inset 0px 0 5px 0px var(--dark);
    border-radius: 10px;
    transition: left .5s cubic-bezier(0.68, 0.19, 0.6, 0.96), scale .5s  cubic-bezier(0.68, 0.19, 0.6, 0.96);
    transform-origin: top;
}
#menu-configurations.revel{left: 10px;scale: 1;}
#menu-configurations h3{width: 100%;padding: 2px 0;text-align: center;}
.buttons span{font-weight: bold;padding-right: 2px;}
section{width: 480px;padding: 0 10px;}
iframe{width: 100%;height: calc(100vh - 100px);}

@media(max-width: 500px){
    section{width: calc(100% - 20px);}
}