<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCO INFORMA</title>
    <link rel="stylesheet" href="/static/css/cco-informa.css">
    <script type="module" src="/static/js/global.js"></script>
    <script type="module" src="/static/js/font-awesome.js"></script>
</head>
<body>
    <cco-informa id="cco-informa" class="bg-white">
        <header>
            <h1>*CCO INFORMA*</h1>
            <caption>Histórico de Eventos</caption>
            <ul class="letters">
                <li class="id"></li>{% for letter in letters %}
                <li>{{ letter }}</li>{% endfor %}
            </ul>
            <ul>
                <li>1</li>{% for col in cols %}
                <li><strong>{{ col }}</strong></li>{% endfor %}
            </ul>
        </header>
        <section>{% for row in rows %}
            <ul>{% for cell in row %}
                <li>{% if loop.first %}{{ cell }}{% else %}<input type="text" value="{{ cell }}">{% endif %}</li>{% endfor %}
            </ul>{% endfor %}

        </section>


    </cco-informa>
</body>
</html>